@page
@model IndexModel
@{
    ViewData["Title"] = "SignalR Demo Chat App";
}

<h2>Start Chat</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label>User Name:</label>
                    <input type="text" id="txtUserInput" class="form-control" />
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>Message:</label>
                    <input type="text" id="txtMessageInput" class="form-control"  />
                </div>
            </div>
            <div class="col-md-2" style="margin-top:22px;">
                <div class="form-group">
                    <input type="button" id="sendButton" value="Send Message" class="btn btn-primary"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul id="messagesList">

                </ul>
            </div>
        </div>
    </div>
</div>



